/*head*/
.info-img{
    width: 15px;
    height: 15px;
    margin: 2px;
    
}
.img-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    
}
.contact-info p{
    font-size: 16px;
    margin: 2px;
}

.logo{
    width: 25%;
    height: 100%;
}
.head
{
background-color: gainsboro;
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
height: 50px;
padding: 30px;
margin-bottom:50px ;
}
/*-------------------head-----------------------*/
/*center invoce*/
.invoice{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;  
    margin-bottom: 20px; 
    text-align: center; 
}
.invoice p{
    margin: 5px;
  }
.invoice h1{

    font-size: medium;
}
/*-------------center invoce-----------------*/

/*table*/
.table thead {
    background-color: #FFF;
    font-weight: bold; 
    font-size: 14px; 
    padding: 10px;
  }
.table th {
    padding: 5px;
    text-align:center;
    color: #000; 
    font-size: 14px;
    
  }
.table td {
    text-align: center; 
    font-size: 14px;
    padding: 5px;
 }
.table{
    margin: auto;  
}
/*------------------------table--------------------*/

/*last-invoice*/
.invoce-last{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 50px;   
}
.invoce-last p{
    font-size: 16px;
}
.invoce-last h1
{
    font-size: 16px;
}
/*table inside-last-invoce*/
.no-border-table th
{
    color: rgba(65, 74, 139, 1);
    text-align: left;
    font-size: 16px;
    padding: 10px;
}

.no-border-table td
{
    text-align: center;
    padding: 10px;
}

/*------------------last-invoice------------------*/
/*button*/
button{

    background-color: #414A8B; 
    border: none;
    color: white;
    padding: 20px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10px;
   
    
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-----------------------------button----------------*/

/*footer*/
.f-container{
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0;
    
  }
.paragraph{
    position: absolute;
    top: -10px;
    right: 0;
    color:#FFF;
    font-size: 10px;   
    margin: 20px;
}
.img-last{
    
    width: 100%;}
/*------------------------footer----------------*/
